%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{xref_ignores, [cmdline_lexer]}.


{deps, [{mochiweb, "3.0.0"},
        {riakc,    {git, "https://github.com/TI-Tokyo/riak-erlang-client", {tag, "riak_ts-3.0.0"}}},
        {riak_ql,  {git, "https://github.com/TI-Tokyo/riak_ql",            {tag, "3.0.0"}}},
        {jam,      {git, "https://github.com/TI-Tokyo/jam",                {tag, "3.0.0"}}},
        {clique,   {git, "https://github.com/TI-Tokyo/clique.git",         {tag, "riak_ts-3.0.0"}}}
       ]
}.
